*{
	margin: 0px;
	padding-left: 0px;
}
.header{
	background-color: orange;
	height: 150px;
}
.atricle{
	background-color: green;
	height: 300px;
}
.left{
	background-color: blue;
	float: left; 
	width: 150px;
	height: 16px;
}
.middle{
	background-color: red;
	float: left;
}
.right{
	background-color: LightGreen;
	float: right;
	width: 150px;
	height: 16px;	
}
.footer{
	background-color: yellow;
	height: 100px;
}