*{
	margin: 0px;
	padding: 0px;
}
li{
	list-style: none;
}
img{
	height: 300px;
	width: 250px;
}
#div1{
	width: 950px;
	height: auto;
	margin: 30px auto;
}
ul{
	width: 250px;
	float: left;
}
